<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.apache.cordova.plugin.TapjoyPlugin"
        version="0.2.1">
    <name>Tapjoy - phonegap</name>
    <description>

    </description>

    <engines>
        <engine name="cordova" version=">=3.0.0" platform="android" />
        <engine name="android-sdk" version=">=3.2" platform="android" />
    </engines>

    <js-module src="www/tapjoy.js" name="Tapjoy">
        <clobbers target="window.plugins.tapjoy"/>
    </js-module>

    <platform name="android">

        <source-file src="src/android/org/apache/cordova/plugin/TapjoyPlugin.java"
                     target-dir="src/org/apache/cordova/plugin"/>

        <source-file src="libs/android/tapjoyconnectlibrary.jar"
                     target-dir="libs"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TapjoyPlugin">
                <param name="android-package" value="org.apache.cordova.plugin.TapjoyPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.tapjoy.TJCOffersWebView"
                    android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                    android:name="com.tapjoy.TapjoyFullScreenAdWebView"
                    android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                    android:name="com.tapjoy.TapjoyDailyRewardAdWebView"
                    android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                    android:name="com.tapjoy.TapjoyVideoView"
                    android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                    android:name="com.tapjoy.TJAdUnitView"
                    android:configChanges="orientation|keyboardHidden|screenSize"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                    android:hardwareAccelerated="true" />
            <activity
                    android:name="com.tapjoy.mraid.view.ActionHandler"
                    android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                    android:name="com.tapjoy.mraid.view.Browser"
                    android:configChanges="orientation|keyboardHidden|screenSize" />
        </config-file>

    </platform>
</plugin>
